<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="cache">
            <directory>cache</directory>
        </testsuite>
        <testsuite name="database">
            <directory>database</directory>
        </testsuite>
        <testsuite name="di">
            <directory>di</directory>
        </testsuite>
        <testsuite name="node">
            <directory>node</directory>
        </testsuite>
        <testsuite name="parser">
            <directory>parser</directory>
        </testsuite>
        <testsuite name="transformer">
            <directory>transformer</directory>
        </testsuite>
    </testsuites>
</phpunit>